*{font-family: 'Noto Sans JP', sans-serif;
padding: 0px;margin: 0px;box-sizing: border-box;}

a{text-decoration: none;}

.topo{max-width:80%;   
   display: flex;
   justify-content: space-between;
   margin: auto;
   font-weight: 700;
   margin-top: 20px;
   margin-bottom: 20px;
   align-items: center;}

.topo .atend p{margin-right: 20px;display: inline-block;cursor: pointer;}

.topo .atend :hover {border-bottom: 2px solid black;}

.topo .redesocial span{margin-left: 20px;cursor: pointer;}

.black{background-color: black;
max-width: 100%;
height: 80px;
color:#FFF;}

.black .container{max-width: 80%; margin: auto;;padding-top: 15px;display: flex;justify-content: space-between;align-items: center;}

.black h1{cursor: pointer;}

nav {max-width: 100%;text-align: center;}

nav ul li{display: inline-block;margin: 30px;font-size: 15px;font-weight: bold;}

nav ul li a{color: rgb(46, 45, 45); text-transform: uppercase;}
nav ul li a:hover{border-top: 3px solid #000000;}

/*hero*/

#hero{max-width: 100%;}
#hero .container{max-width: 80%;margin: 0 auto;}
#hero .container .cards{display: flex;  justify-content: space-between;}

#hero .container .cards img{width: 97%;cursor: pointer;}

@media (max-width:750px){
#hero .container .cards{width: 100%;
   flex-direction: column;}
}

/*sect01*/

#sect01{max-width: 100%;text-align: center;}

#sect01 .container{max-width: 80%;margin: 0 auto;text-align: left;}

#sect01 .container  h2{padding-top: 50px;padding-bottom: 20px;font-size: 40px;text-align: left;}

#sect01 .container .btn1 a{background: rgb(160, 160, 160);padding: 7px 20px 7px 20px;color: #FFF;margin-right: 15px;border-radius: 50px;font-size: 12px;border: 0px}

#sect01  .btn1 a:hover{background: rgb(68, 68, 68);transition: 0.8s;}

#sect01 .container .moveis{display: flex;padding-right: 20px;justify-content: space-between;}

#sect01 .quadrado{width: 220px;background-color: #ccc;margin-top: 30px; height: 230px;}

#sect01 .quadrado{cursor: pointer;}

#sect01 .quadrado img{max-width: 220px;}

#sect01 .quadrado p{padding-top: 10px;}

#sect01 .btn{display: inline-block; 
   background-color: #FFF;
   border: 3px solid rgb(146, 145, 145);
   padding: 7px 30px 7px 30px;color:rgb(124, 123, 123);
   font-size: 15px;margin-top: 20px; margin: 0 auto;margin-top:20px}

#sect01 .btn:hover{background-color: #ccc;color: #000000;border: 3px solid #ccc;transition: 0.8s;
   padding: 7px 30px 7px 30px;}

@media(max-width:900px){
   #sect01 .container .btn1 a{margin-top: 10px;display:inline-block;}
   #sect01 .container .moveis{flex-direction: column;}
   #sect01 .grid{flex-wrap: wrap;}
}


/*novidades gray*/

#sect02{max-width: 80%;background-color: rgb(68, 64, 64);margin: 0 auto;margin-top:50px;
padding: 50px 0px 50px 0px;height: 270px;}

#sect02 .container-gray{max-width: 70%;display: flex;margin: 0 auto;color: #fff;}

#sect02 .container-gray h3{font-size: 32px;}

#sect02 .container-gray p{font-size: 16px;padding-top: 15px;margin-bottom: 30px;}

#sect02 .container-gray a{border: 2px solid rgb(255, 255, 255);padding: 7px 30px 7px 30px;margin-top: 20px;
color: #fff;font-size: 15px;}

#sect02 .container-gray a:hover{background-color: #ccc;color:rgb(68, 64, 64); font-weight: bold;border: 0px;transition: 0.8s;}

#sect02 .container-gray img{max-width: 350px;
position: relative;bottom: 90px;}

@media(max-width:900px){#sect02 .container-gray img{display: none;}
#sect02 .container-gray {text-align: center;}
#sect02 .container-gray h3{font-size: 20px;}
#sect02 .container-gray p{font-size: 16px;margin-bottom: 30px;}}

/*acessorios*/
#sect03{max-width: 100%;}

#sect03 .container{max-width: 80%;margin: 0 auto;}

#sect03 .container h2{padding-top: 50px;padding-bottom: 50px;font-size: 40px;}

#sect03 .container .acessorios-flex{display: flex;justify-content: space-between;padding: 20px;align-items: center;}

#sect03 .container .acessorios-flex img{max-width: 500px;}

#sect03 .container .acessorios-flex .leitura{max-width: 500px;}

#sect03 .container .acessorios-flex h3{font-size: 34px;margin-bottom: 25px}

#sect03 .container .acessorios-flex p{font-size: 18px;margin-bottom: 25px;}

#sect03 .container .acessorios-flex .btn{background-color: #FFF;
   border: 3px solid rgb(124, 123, 123);padding: 7px 30px 7px 30px;color:rgb(124, 123, 123);
   margin-top: 20px;font-size: 15px; margin-top: 50px;}

#sect03 .container .acessorios-flex .btn:hover{background-color: #ccc;color: #000000;border: 3px solid #ccc;transition: 0.8s;padding: 7px 30px 7px 30px;}

@media(max-width:720px){
   #sect03 .container h2{padding-bottom: 10px;}
   #sect03 .container .acessorios-flex{flex-direction: column;}
   #sect03 .container .acessorios-flex img{margin-top:20px;}  
}

/*contato*/

#sect04{max-width: 100%;}

#sect04 .container{max-width: 80%;margin: 0 auto;}

#sect04 .container h2{padding-top: 50px;padding-bottom: 20px;font-size: 40px;}

#sect04 .container .formulario{display: flex;flex-direction: column;}

#sect04 .container .container-form{
   display:flex; justify-content: space-between;
   align-items: center;}

#sect04 .container .formulario label{padding-bottom: 5px;font-size: 20px;}

#sect04 .container .formulario input{padding: 5px; border: 2px solid black;font-size: 20px;margin-bottom: 20px;width: 420px;}

#sect04 .container .formulario #text{padding: 5px; border: 2px solid black;font-size: 20px;padding-bottom: 100px;width: 420px;}

#sect04 .container .formulario #btn3{display: inline-block;
   color: #fff;
   width: 120px;
  border: 2px solid rgb(44, 44, 44);;
   padding: 7px 30px 7px 30px;
   font-size: 15px;margin-top: 20px;
   background-color: rgb(44, 44, 44);
   margin-top:20px;}

#sect04 .container .formulario #btn3:hover{
      background-color: black;
      transition: 0.8s;
      border: 2px solid black;}

      @media(max-width:720px){
#sect04 .container .container-form{flex-direction: column;}
#sect04 .container iframe{max-width: 100%;}
      }

/*rodapé*/

footer{max-width: 100%; background-color: black;margin-top: 20px;color: #fff;}

footer .container{max-width: 80%;margin: 0 auto;}

footer .container h3{padding-top: 20px;}

footer .container ul li a{color: #fff;font-size: 12px;}

footer .container ul li a:hover{transition: 0.8s;
opacity: 0.5;border: none;}

footer p {text-align: center;margin: 0 auto;padding-bottom: 20px;}

@media(max-width:720px){
   footer .container h3{text-align: center;}
}