.venda{display: flex;width: 100%;}

.venda .container{width: 80%;display: flex;justify-content: space-between;margin: 0 auto;}

.venda-img{margin-left: 50px;}

.venda-telas{display:flex;margin-bottom: 20px;}

.venda-telas img{ width:100px;padding: 20px;cursor: pointer;border: 2px solid #000000;
    margin-left: 30px;}

.venda-inf{margin-right: 200px;}

.venda-inf h3{padding-top: 50px;}

.venda-inf button{background-color: #000000;
height: 50px;
width:180px;
border:none;
color: #fff;
align-items: center;}

.venda-inf button:hover{background-color: rgb(77, 77, 77);
    transition: 1s;}

.venda-inf button img{padding-right: 10px;}

.venda-inf span{display: block;}

.descricao{width: 80%;margin: auto;}

.descricao .container{margin: 0 auto;}

.descricao h4{margin-bottom: 20px;margin-top:50px;}

.desc-formatar{max-width: 550px;}