.venda{display: flex;width: 100%;}

.venda .container{width: 80%;display: flex;justify-content: space-between;margin: 0 auto;}

.venda-telas{display:flex;margin-bottom: 20px;}

.venda-telas img{ width:150px;padding-bottom: 50px;cursor: pointer;}

.venda-inf{margin-right: 150px;}

.venda-inf h4{padding-top: 15px;}

.venda-inf h3{padding-top: 50px;}

.venda-inf a{width: 300px;height: 100px; margin-top: 10px;
background-color: black;color: #fff;
padding: 12px 30px;margin-top: 10px;
align-items: center;}

.venda-inf a img{padding-top: 30px;}

.descricao{width: 80%;margin: auto;}

.descricao .container{margin: 0 auto;}

.descricao h4{margin-bottom: 50px;}

.desc-formatar{max-width: 550px;}